<div class="w-1/2 mx-auto">
    <div *ngFor="let todo of todos" class="mb-4">
        <p class="p-6 bg-green-400">{{todo.id}} - {{todo.description}}</p>
        <p class="bg-gray-300">{{todo.expire_at | date:'medium'}}</p>
        <button class="bg-gray-800 p-2 text-sm text-white rounded-md" (click)="remove(todo.id)">Remove</button>
    </div>
</div>